<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<table>
  <tr><th>User Name</th><th>Password</th><th>Status</th></tr>
  <tr><th>emma@gmail.com</th><th>password</th><th>user</th></tr>
  <tr><th>thomas@gmail.com</th><th>adminpass</th><th>administrator</th></tr>
</table>
