<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>

<div>
  <div>
    <div>
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="category">Newest</option>
      </select>

    </div>
    <div>
      <!--Body content-->

      <ul>
        <li ng-repeat="product in phones | filter:query | orderBy:orderProp">
          <a href="#/{{product.id}}" class="thumb">

            <img ng-src="img/phones/{{product.image_url}}"></a>
          <a href="#/phones/{{product.id}}">{{product.name}}</a>

          <img ng-src="assets/{{product.image_url}}">
        </li>
      </ul>



    </div>
  </div>
</div>