<table>
  <thead>
  <tr>
    <th>User Name</th>
    <th>Password</th>
    <th>Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>thomasgdowling@gmail.com</td>
    <td>password</td>
    <td>administrator</td>
  </tr>
  <tr>
    <td>tim@gmail.com</td>
    <td>password</td>
    <td>administrator</td>
  </tr>
  <tr>
    <td>emma@gmail.com</td>
    <td>password</td>
    <td>user</td>
  </tr>
  </tbody>
</table>