<h4 class="calcformat">JavaScript Functions, such as Math.random(), are accepted</h4>

<div id="calcwrapper">
  <div id="myCalculator">
    <div id="panelDiv"><input type="text" id="calcPanel"/></div>
    <!--End panelDiv--> </div>
  <!--End myCalculator Div-->
</div>
<br/>
<br/>
<h4 class="calcformat">Full Documentation is available
  <%= link_to "here", "https://rubygems.org/gems/jscalc", {:target => "_blank"} %></h4>

<h6 class="calcformat">
  <%= link_to "This gem", "https://rubygems.org/gems/jscalc", {:target => "_blank"} %>
  has been downloaded more than 1300 times</h6>

<br/>
<table class="calcformat">
  <thead>
  <tr>
    <th width="200">Sample Functions</th>
    <th></th>
    <th width="150"></th>
    <th width="150"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Math.PI</td>
    <td>Math.sqrt()</td>
    <td>Math.exp()</td>
    <td>Math.pow(10,3)</td>
  </tr>
  <tr>
    <td>Math.E</td>
    <td>Math.round()</td>
    <td>navigator.appName</td>
    <td>parseInt(1101,2)</td>
  </tr>
  <tr>
    <td>x = new Date()</td>
    <td>x.getMonth()</td>
    <td>x.getDate()</td>
    <td>x.getFullYear()</td>
  </tr>

  <tr>
    <td>isNaN(2)</td>
    <td>typeof(2)</td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

<h6 class="calcformat">
jscalc may be viewed in a basic Ruby-on-Rails (v3.2) App on
Heroku by clicking <%= link_to "here", "http://tgd-jscalc.herokuapp.com/" %></h6>





