<div id="userPicker">
  <div id='showUserEntry'></div>

  <ul id="userButtons">
    <li><input class="userButton button tiny" type="button" id="userButtonBeginning" value="| <<"/></li>
    <li><input class="userButton button secondary tiny" type="button" id="userButtonMinusFive" value="<<  - 5"/></li>
    <li><input class="userButton button success tiny" type="button" id="userButtonForward" value="<<"/></li>
    <li><input class="userButton button success tiny" type="button" id="userButtonBack" value=">>"/></li>
    <li><input class="userButton button secondary tiny" type="button" id="userButtonPlusFive" value="+ 5  >>"/></li>
    <li><input class="userButton button tiny" type="button" id="userButtonEnd" value=">> |"/></li>
    <li id = "MessageXML"><br />I am draggable</li>
  </ul>

</div>